* {
    margin: 0;
}

.header-container{
    height: 800px;
    background-image: url("https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/1c8032975647515c919c1e4b30138726.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

.box{
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.5);
}

.navbar div{
    display: flex;
    gap: 10px;
}

.navbar img {
    height: 20px;
    margin-left: 10px;
}

.navbar .text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.navbar p {
    color:gray;
    height: 20px;
    font-size: 12px;
}

.navbar h6{
    color: #fff;
    font-size: 13px;
}


.span {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    border-radius: 18px;
    color: aliceblue;
}

.hero{
    height: 100%;
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img{
    height: 365px;
    width: 406px;
    border-radius: 20px;
}

.article p{
    margin-bottom: 50px;
}

.article h2 {
    font-size: 40px;
    color: aliceblue;
    font-family:  Helvetica, sans-serif;
    margin-bottom: 5px;
}

.article h1 {
    font-size: 45px;
    color: antiquewhite;
}
