* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header-container {
  height: 80vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black),
    url("https://images.unsplash.com/photo-1716321952068-d27a33aa4014?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMTZ8fHxlbnwwfHx8fHw%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}

.first-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

.box {
  padding-top: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  caret-color: #fff;
}

::placeholder {
  color: gainsboro;
}

.fa-magnifying-glass {
  color: aliceblue;
  padding-top: 14px;
  border-left: 1px solid;
  height: 25px;
  padding-left: 10px;
}

.nav-icons {
  color: grey;
  padding-top: 13px;
  display: flex;
  gap: 20px;
}

.span {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.span div {
  display: flex;
  gap: 4px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #0078f6;
}

.navbar img {
  height: 20px;
  margin-left: 10px;
  margin-top: 13px;
}

.random .heading {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.navbar .random {
  display: flex;
  gap: 80px;
}

.fa-bars {
  color: #fff;
}

.fa-facebook:hover {
  color: #0078f6;
}

.fa-instagram:hover {
  color: lightcoral;
}

.fa-twitter:hover {
  color: #0078f6;
}

.fa-linkedin:hover {
  color: #0078f6;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random p {
  color: gray;
  font-size: 13px;
}

.random h6 {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.span {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 18px;
  color: aliceblue;
}

.hero {
  padding-top: 70px;
  gap: 70px;
  display: flex;
  justify-content: center;
}

.hero img {
  height: 380px;
  width: 380px;
  border-radius: 20px;
}

.article-container {
  padding-top: 30px;
  /* height: 320px; */
}

.article p {
  color: #0078f6;
  font-family: Helvetica, sans-serif;
  padding-bottom: 50px;
}

.article h2 {
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 5px;
}

.article h1 {
  font-size: 40px;
  font-family: sans-serif;
  color: ghostwhite;
}

.profile {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  gap: 10px;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.text h6 {
  color: grey;
  font-size: 14px;
}

.text p {
  color: #fff;
  margin-top: 7px;
  font-size: 14px;
}

.profile text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: white;
}

.board-container {
  position: relative;
  height: 80vh;
}

.board {
  position: absolute;
  top: -30%;
}

.board-container h5 {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 50px;
  padding-left: 120px;
  padding-bottom: 40px;
}

.boards {
  display: flex;
  justify-content: center;
  padding-right: 60px;
  padding-left: 60px;
  gap: 20px;
}

.boards img {
  width: 280px;
  height: 400px;
  border-radius: 8px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title button {
  width: 60px;
  height: 30px;
  border-style: none;
  border-radius: 20px;
  background-color: gray;
  color: gainsboro;
  margin-right: 120px;
}

.fa-chevron-left:hover {
  color: aqua;
}

.fa-chevron-right:hover {
  color: aqua;
}

.interesting-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
  padding-top: 400px;
}
.profile-1 {
  display: flex;
  gap: 7px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-1 img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.interesting-section .content {
  height: 160px;
  width: 740px;
  border: 2px solid;
  border-radius: 8px;
}

.content img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content {
  display: flex;
  justify-content: space-around;
}

.content .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content .text p {
  color: blue;
  font-size: 18px;
  font-weight: 700;
}

.content h4 {
  font-size: 20px;
  font-weight: 600;
}
