* {
    margin: 0;
}
body {
    background-color: #F5F7FA;
}

.info-container{
    display: flex;
    gap: 80px;
    padding-top: 140px;
    padding-left: 400px;
}

.info-container i{
    height: 100px;
    width: 100px;
    color: gray;
}

.info-container h5{
    color: blue;
    font-size: 14px;
    margin-bottom: 60px;
    margin-left: 48px;
}


.info-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-container li{
    display: flex;
    gap: 5px;
    color: grey;
    font-size: 25px;
    font-weight: 800;
}

.info-container p{
    font-size: 13px;
   display: flex;
   justify-content: center;
   align-items: center;
}

li:hover{
    color: black;
}


.footer-container{
    padding-left: 600px;
    padding-top: 300px ;
    display: flex;
}

.main-menu{
    display: flex;
    gap: 180px;
}

.main-menu h1{
    font-size: 22px;
    font-weight: 1800;
}

h1:hover{
    color: rgb(20, 139, 179);
}

.main-menu div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer{
    margin-top: 90px;
    margin-left: 600px;
    margin-bottom: 60px;
}

.footer h6{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 300;
}

.footer p{
    font-size: 11px;
    color: gray;
    font-weight: 700;
    margin-top: 30px ;
}

.footer div{
    background-color: black;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}